.backTop {
    position: fixed;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    animation: MoveUpDown 1s linear infinite;
    transform: rotate(90deg);
    font-size: 29px;
    border: 1px solid;
    text-align: center;
    transition: all ease 0.5s;
    background-color: #0f103f;
}
.backTop:hover {
    background-color: #fff;
    color: #0f103f;
    transition: all ease 0.5s;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
}

/*home*/
.home-content {
    background-image: url('../images/home-bg.png');
    background-position: right bottom;
}
.img-skills img {
    border-radius: 10px;
    width: 33%;
    padding: 20px;
    cursor: pointer;
    object-fit: contain;
    transition: all ease .4s;
}
.img-skills img:hover {
    padding: 0;
    transform: rotate(-20deg);
}
.me-img {
    width: 80%;
}
#skills .row,
#home .row {
    align-items: center;
}


/*about*/
.about-content {
    background-image: url('../images/about-bg.png');
    background-position: center;
}
.about-content .row {
    align-items: center;
}
.about-content img {
    width: 500px;
}
.about-more {
    position: fixed;
    left: 20px;
    background-color: #fff;
    color: #0f103f;
    z-index: 9;
    right: 20px;
    padding: 20px;
    bottom: 20px;
    border-radius: 10px;
}

/*skills*/
.skills-content h2 {
    margin-bottom: 40px;
}
.skills-list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}
.skills-list li {
    display: block;
    background-color: #fff;
    color: #0f103f;
    font-weight: 700;
    margin-right: 10px;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all ease-in .2s;
    cursor: pointer;
}
.skills-list li:hover {
    transform: rotate(20deg);
}
#skills, #about {
    padding-top: 80px;
}
#skills img {
    transition: all ease .5s;
}
#skills img:not(:hover) {
    filter: saturate(0.5);
}


/*contact*/
.contact-content {
    background-image: url('../images/contact-bg.png');
    background-size: contain;
    background-position: right bottom;
}
.contact-txt {
    width: 70%;
    margin-bottom: 30px;
}
.contact-info span {
    display: block;
    margin-top: 10px;
}
