body {
    background-color: #0F103F;
    color: #fff;
}
h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
}

section {
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
a, a:hover {
    color: inherit;
    text-decoration: inherit;
}
.container {
    padding-top: 150px;
}

::placeholder {
    color: #fff;    
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
textarea {
    min-height: 200px;
}
.btn-custom {
    background: linear-gradient(107deg, #2690A8 24.43%, #2954A3 70%);
    box-shadow: 0px 10px 20px rgba(8, 12, 33, 0.15);
    border-radius: 30px;
    border: none;
    color: #fff;
    padding: 10px 35px;
    font-size: 17px;
    transition: all ease-out .2s;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
}
.btn-custom:hover {
    background: linear-gradient(107deg, #4c50eb 24.43%, #96a4be 70%);
    transition: all ease-in .2s;
    color: #fff;
    padding: 10px 50px;
}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #0f103f;
	border-radius: 10px;
	background-color: #fff;
}
*::-webkit-scrollbar
{
	width: 12px;
	background-color: #fff;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0f103f;
}
