.nav-bar ul {
    display: flex;
    justify-content: center;
    margin: 0;
}
.nav-bar li {
    display: block;
    padding: 20px;
}
.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: #0f103f;
}